.env*
.git/
.gitignore
.aws/
*.md
/media/
/static/
backups/
/backups/
/backups/**
backup_*.sql
backup_*.sql.gz
*.sqlite3
*.pem
*.key
*.p12
*.pfx
*.pyc
*.pyo
*.pyd
__pycache__/
**/__pycache__/
.pytest_cache/
pytest.ini
.vscode/
.DS_Store
**/.DS_Store
/.Markdown/
aws-credentials.env
pip-wheel-metadata/