.env*
*.md
!README.md
__pycache__/
.pytest_cache/
pytest.ini
.cache
.vscode/
.seeded
/.Markdown/
**/.DS_Store
*.toml
*.pyc
*.pem
*.key
*.p12
*.pfx
*.sqlite3
**/.log
/logs/
/media/
/static/
/backups/
/backups/**
backup_*.sql
backup_*.sql.gz
/tests/schemathesis/
.aws/
aws-credentials.env
pip-wheel-metadata/