[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
djangorestframework = "*"
psycopg = {extras = ["binary"], version = "*"}
django-environ = "*"
python-dotenv = "*"
django-filter = "*"
dj-database-url = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-q2 = "*"
gunicorn = "*"
pillow = "*"
psutil = "*"
croniter = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
pytest-django = "*"
pytest-testmon = "*"
drf-spectacular = "*"
django-debug-toolbar = "*"
django-silk = "*"
schemathesis = "*"
snakeviz = "*"
locust = "*"
faker = "*"
twilio = "*"

[requires]
python_version = "3.12"
